### SQL Exercise One
1. Pick one or more database from any server 
1. Write three queries
    1. Write a business question
    1. use across your queries all of the following clauses, at least one but not in very query 
        1. JOIN
        1. WHERE
        1. HAVING
        1. Aggregate function *SUM, COUNT, AVG. etc*
        1. IIF
        1. FROM 
        1. GROUP BY
        1. ORDER BY
1. Include the results 
    1. inline in Data Studio notebook
    1. in Excel
    1. inline in the .SQL files
1. Commit work to GIthub when complete
1. Ask for help if you get stuck

## Business Question:
### Which sales people are the top performers based on average sales?

__This query includes the following requirements:__

- Join
- Having
- Aggregate
- IIF
- From
- Group By
- Order By

In [9]:
SELECT SalesPersonID, AVG(TotalDue) AS TotalSales, IIF(AVG(TotalDue) > 25000, 'Top Performer', 'No Bonus') AS EmpSalesStatus

FROM Sales.SalesOrderHeader AS tSales

INNER JOIN Sales.SalesPerson as tPerson ON tPerson.BusinessEntityID = tSales.SalesPersonID

GROUP BY SalesPersonID

HAVING IIF(AVG(TotalDue) > 25000, 'Top Performer', 'No Bonus') = 'Top Performer'

ORDER BY TotalSales DESC

SalesPersonID,TotalSales,EmpSalesStatus
280,39455.2223,Top Performer
281,29998.2143,Top Performer
290,29074.1554,Top Performer
276,27978.5144,Top Performer
289,27543.4624,Top Performer
274,25748.6342,Top Performer

## Business Question:
### Which employees will NOT receive a bonus?

__This query includes the following requirements:__

- Join
- Where
- Having
- Aggregate
- IIF
- From
- Group By
- Order By

In [13]:
SELECT *

FROM

(SELECT SalesPersonID, AVG(TotalDue) AS TotalSales, IIF(AVG(TotalDue) > 25000, 'Top Performer', 'No Bonus') AS EmpSalesStatus

FROM Sales.SalesOrderHeader AS tSales

INNER JOIN Sales.SalesPerson as tPerson ON tPerson.BusinessEntityID = tSales.SalesPersonID

GROUP BY SalesPersonID) AS Subqry

WHERE EmpSalesStatus = 'No Bonus'

ORDER BY SalesPersonID

SalesPersonID,TotalSales,EmpSalesStatus
275,23278.5935,No Bonus
277,23979.6742,No Bonus
278,17390.6932,No Bonus
279,18848.6565,No Bonus
282,24662.4968,No Bonus
283,22263.9926,No Bonus
284,18629.4026,No Bonus
285,12220.5489,No Bonus
286,14737.9949,No Bonus
287,21190.1914,No Bonus
288,15864.5625,No Bonus