### Exercise
1. Create a complex data type
    1. Use a combination of at least two of these data structure in one variable
        1. list
        1. dictionary
        1. tuple
        1. set

1. Write two functions
    1. Requirements
        1. Use exception handling
    1. one function that reads a file from the complex data type
    1. one function that writes a file from the complex data type

In [1]:
children =["Andrew","Laura","Joe"]

In [2]:
print (children)
children.pop()
print (children)

['Andrew', 'Laura', 'Joe']
['Andrew', 'Laura']

In [3]:
print (children)
children.remove('Andrew')
print (children)

['Andrew', 'Laura']
['Laura']

In [4]:
#checking that input is an integer
'Loura' in children

False

In [5]:
'A' in '1234567890'

False

In [6]:
# With 3 rows and 4 columns
students = [["Joel", 85, 95, 70],
            ["Anne", 95, 100, 100],
            ["Mike", 77, 70, 80, 85]]
# With 3 rows and 3 columns
movies = [["The Holy Grail", 1975, 9.99],
          ["Life of Brian", 1979, 12.30],
          ["The Meaning of Life", 1983, 7.50]]

In [26]:
# Anne - 100
print("{} - {}".format(students[1][0],students[1][3]))

Anne - 100

In [8]:
students[1][0]

'Anne'

In [9]:
type(students)

list

In [10]:
type(movies[1][0])

str

In [13]:
movies[1][0]

'Life of Brian'

In [14]:
# str to list
lob_list = movies[1][0].split(" ")
lob_list

['Life', 'of', 'Brian']

In [16]:
#list to str
"-".join(lob_list)

'Life-of-Brian'

In [17]:
students[1][3]

100

In [18]:
flick = []
#build a list
flick.append('Kundun')
flick.append(1997)
flick.append(4.7)
print(flick)
#adding list as child list to parent list
movies.append(flick)
movies

['Kundun', 1997, 4.7]

[['The Holy Grail', 1975, 9.99],
 ['Life of Brian', 1979, 12.3],
 ['The Meaning of Life', 1983, 7.5],
 ['Kundun', 1997, 4.7]]

In [19]:
#Python equivalent of NULL
type(None)

NoneType

In [20]:
lssimple =[1,2,7,3,2,2,2,2,None]
len(lssimple)

9

In [21]:
lssimple[8]

In [22]:
lssimple.index(7)

2

In [29]:
lssimple.count("A")

0

In [31]:
None == None

True

In [32]:
lssimple

[1, 2, 7, 3, 2, 2, 2, 2, None]

In [33]:
lssimple.reverse()

In [34]:
lssimple

[None, 2, 2, 2, 2, 3, 7, 2, 1]

In [35]:
children =["Andrew","Laura","Joe"]
children.sort(key=str.lower)
children

['Andrew', 'Joe', 'Laura']

In [36]:
children =["Andrew","Laura","Joe"]
# descedning order of length of name
children.sort(key=str.__len__,reverse = True)
children

['Andrew', 'Laura', 'Joe']

In [37]:
lssimple.remove(None)
print(sum(lssimple))

21

In [41]:
type(lssimple)

list

In [52]:
import chocolatemilk

ModuleNotFoundError: No module named 'chocolatemilk'

In [53]:
forgot_to_make

NameError: name 'forgot_to_make' is not defined

In [ ]:
children.reverse()

In [38]:
sum(children)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [39]:
# slicer syntax
#list[start_index:end_index:step]
fancy = [52,54,56,58,60,62]
print(fancy[0:2])
print(fancy[::-1])

[52, 54]
[62, 60, 58, 56, 54, 52]

In [40]:
print(fancy[0:4:2])
print(fancy[:2])

[52, 56]
[52, 54]

In [42]:
inv = ["staff","robe"]
chest = ["scroll","pestle"]

print(chest + inv)
print(inv + chest)

['scroll', 'pestle', 'staff', 'robe']
['staff', 'robe', 'scroll', 'pestle']

In [43]:
#inv = inv + chest
inv += chest
inv

['staff', 'robe', 'scroll', 'pestle']

In [44]:
chest

['scroll', 'pestle']

In [45]:
chest[2]

IndexError: list index out of range

In [ ]:
foobar

In [46]:
my_dict2 = {'e': [1,3], 'b': "2", 'c': 3, 'a':[(1, True),
 (1, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (3, False)]}

In [47]:
my_dict2.keys()

dict_keys(['e', 'b', 'c', 'a'])

In [48]:
my_dict2.values()

dict_values([[1, 3], '2', 3, [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]])

In [51]:
my_dict2['g']

'foo'

In [49]:
my_dict2['g'] = "foo"
print(my_dict2.items())
my_dict2['t']

dict_items([('e', [1, 3]), ('b', '2'), ('c', 3), ('a', [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]), ('g', 'foo')])

KeyError: 't'

In [55]:
#function with two parametrs that have defaults
def sillytry(d_input=my_dict2, keyname='e'):
    #exception handling
    #try block
    try:
        #what we think might blow up
        value = d_input[keyname]
    except TypeError:
        #how we think might blow up
        value = 'error!!!: Bad TYPE'
    except KeyError:
        #how we think might blow up
        value = 'error!!!: invalid key'
    except : value = 'error!!! generic error'        
    finally:
        print('end')
    if type(value) == str:
        print("string")
    elif type(value) == int:
        print("int")
    elif type(value) == list:
        print("list")
    else:
        print("unknown")
    return value
    
kwargs = {"d_input":my_dict2, "keyname":'e'}
print(sillytry(**kwargs))

end
list
[1, 3]

In [56]:
kwargs = {"d_input":my_dict2, "keyname":'7+f'}
print(sillytry(**kwargs))

end
string
error!!!: invalid key

In [57]:
print(sillytry(keyname='x'))

end
string
error!!!: invalid key

In [58]:
print(sillytry(keyname='b'))

end
string
2

In [59]:
print(sillytry(keyname='c'))

end
int
3

In [ ]:
children[4]

In [ ]:
my_dict2

In [60]:
my_dict2.pop('a')
my_dict2

{'e': [1, 3], 'b': '2', 'c': 3, 'g': 'foo'}

In [61]:
my_dict2.pop()
my_dict2

TypeError: pop expected at least 1 argument, got 0

In [62]:
#my_dict2["h"]= 'newerdata'
my_dict2.setdefault('h','newerdata')
my_dict2

{'e': [1, 3], 'b': '2', 'c': 3, 'g': 'foo', 'h': 'newerdata'}

In [63]:
my_dict2["f"]

KeyError: 'f'

In [64]:
value = my_dict2.get('f')
print(value is None)

True

In [65]:
type(my_dict2.get('f'))

NoneType

In [66]:
my_dict2.values()

dict_values([[1, 3], '2', 3, 'foo', 'newerdata'])

In [67]:
my_dict2.keys()

dict_keys(['e', 'b', 'c', 'g', 'h'])

In [68]:
my_dict2.items()

dict_items([('e', [1, 3]), ('b', '2'), ('c', 3), ('g', 'foo'), ('h', 'newerdata')])

In [69]:
my_dict2['e']

[1, 3]

In [70]:
for k,v in my_dict2.items():
    print('key: {} value {}'.format(k,v))

key: e value [1, 3]
key: b value 2
key: c value 3
key: g value foo
key: h value newerdata

In [71]:
d_sample = ['key: '+str(k)+' value '+str(v) for k,v in my_dict2.items()]
print(d_sample)

['key: e value [1, 3]', 'key: b value 2', 'key: c value 3', 'key: g value foo', 'key: h value newerdata']

In [72]:
print(list(my_dict2))

['e', 'b', 'c', 'g', 'h']

In [74]:
list(my_dict2.values())

[[1, 3], '2', 3, 'foo', 'newerdata']

In [75]:
contacts = {
    "Joel":{"address": "1500 Anystreet", "city": "San Francisco",
         "state": "California", "postalCode": "94110", 
         "phone": "555-555-1111"},
    "Anne":{"address": "1000 Somestreet", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-2222"},
    "Ben": {"address": "1400 Another Street", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-4444"}
}

In [76]:
print(contacts.keys())
print(contacts.items())
print(contacts.values())

dict_keys(['Joel', 'Anne', 'Ben'])
dict_items([('Joel', {'address': '1500 Anystreet', 'city': 'San Francisco', 'state': 'California', 'postalCode': '94110', 'phone': '555-555-1111'}), ('Anne', {'address': '1000 Somestreet', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-2222'}), ('Ben', {'address': '1400 Another Street', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-4444'})])
dict_values([{'address': '1500 Anystreet', 'city': 'San Francisco', 'state': 'California', 'postalCode': '94110', 'phone': '555-555-1111'}, {'address': '1000 Somestreet', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-2222'}, {'address': '1400 Another Street', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-4444'}])

In [77]:
contacts['Ben']['address']

'1400 Another Street'

In [80]:
contacts.get('Ben').get('address')

'1400 Another Street'

In [81]:
contacts.get('Anne').get('email')

In [82]:
#writing data
members = ["John Cleese", "Eric Idle","Terry Jones"]
# "w"= overwite, "a" = append, "r" = read = "a" ASCII or "b"
with open("members.txt", "w") as file:
    file.write("members"+ "\n")
    for m in members:
        file.write(m + "\n")          # adds new line

In [ ]:
!head members.txt

In [83]:
#reading data - overparse
lst = []
with open("members.txt", "r") as file:
    # read = read characters/bytes
    for r in file.read():
        lst.append(r)
lst

['m',
 'e',
 'm',
 'b',
 'e',
 'r',
 's',
 '\n',
 'J',
 'o',
 'h',
 'n',
 ' ',
 'C',
 'l',
 'e',
 'e',
 's',
 'e',
 '\n',
 'E',
 'r',
 'i',
 'c',
 ' ',
 'I',
 'd',
 'l',
 'e',
 '\n',
 'T',
 'e',
 'r',
 'r',
 'y',
 ' ',
 'J',
 'o',
 'n',
 'e',
 's',
 '\n']

In [102]:
lst = []
with open("members.txt", "r") as file:
    lst = file.read().split("\n")
lst

['members', 'John Cleese', 'Eric Idle', 'Terry Jones', '']

In [103]:
lst.pop()
lst.remove('members')
lst

['John Cleese', 'Eric Idle', 'Terry Jones']

In [105]:
lst = []
with open("members.txt", "r") as file:
    for r in file.readlines():
        lst.append(r.replace('\n',''))
lst

['members', 'John Cleese', 'Eric Idle', 'Terry Jones']

In [94]:
lst

['members', 'John Cleese', 'Eric Idle', 'Terry Jones']

In [ ]:
!head members.txt

In [106]:
list(my_dict2)

['e', 'b', 'c', 'g', 'h']

In [107]:
with open("my_dict2_items.tsv", "w") as file:
    for x in list(my_dict2):
        file.write(x+'\t'+str(my_dict2[x])+"\n")

In [ ]:
!head my_dict2_items.tsv

In [109]:
for f in set(my_dict2): print(f)

g
h
c
e
b

In [111]:
# with open("my_dict2_items.tsv", "w") as file:
#     for x in list(my_dict2):
#         file.write(x+'\t'+str(my_dict2[x])+"\n")

import csv
with open("my_dict2_items.csv", "w",  newline="") as file:
    writer = csv.writer(file)
    for x in list(my_dict2):
        writer.writerow([str(x),str(my_dict2[x])])

In [112]:
!head my_dict2_items.csv

e,"[1, 3]"
b,2
c,3
g,foo
h,newerdata